<div class="jumbotron jumbotron-fluid">
<br>
<br>
<br>
</div>

<div class="container-fluid d-flex justify-content-center">
  <div class="row">
    <h4>NYT Web Scraper</h4>
  </div>
  <div class="row">
    <p>Choose a category below to scrape the Times:</p>
  </div>
</div>

<div class="btn-group btn-group-lg d-flex justify-content-center mb-4" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" id="us">U.S.</button>
  <button type="button" class="btn btn-secondary" id="politics">Politics</button>
  <button type="button" class="btn btn-secondary" id="world">World</button>
  <button type="button" class="btn btn-secondary" id="business">Business</button>
  <button type="button" class="btn btn-secondary" id="tech">Tech</button>
  <button type="button" class="btn btn-secondary" id="sports">Sports</button>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6" id="articles"></div>
    <div class="col-md-4" id="notes"></div>
    <div class="col-md-1"></div>
  </div>
</div>