body {
    height: 100%;
}

.jumbotron {
    background-image: url(/images/nyt-jumbo.jpg);
    background-size: cover;
    height: 100%;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
}